<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
</head>
<body style="padding-bottom: 70px; padding-top: 70px;">
	<div class="container">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<img th:src="${userInfo.HEADIMGURL}" alt="..."
					style="width: 30px; height: 30px" /> <label
					th:text="${userInfo.NICKNAME}"></label>
			</div>
		</nav>
	</div>

	<div class="container">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="nav-item"><a class="nav-link"
				th:href="@{make_diet(AT=${AT})}">Main</a></li>
			<li role="presentation" class="nav-item"><a class="nav-link"
				th:href="@{cookbook(AT=${AT})}">CookBook</a></li>
			<li role="presentation" class="nav-item"><a
				class="nav-link active">History</a></li>
		</ul>

		<div class="panel panel-default" style="margin-top: 20px;">
			<div class="panel-heading">
				<div class="btn-group">这些天吃了什么</div>
			</div>
			<div class="panel-body">暂时想不起来，努力回忆中。。。</div>
		</div>
	</div>

	<div th:replace="/base :: copy-right"></div>
</body>
</html>