<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
</head>
<body style="padding-bottom: 70px; padding-top: 70px;">
	<div class="container">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<img th:src="${userInfo.HEADIMGURL}" alt="..."
					style="width: 30px; height: 30px" /> <label
					th:text="${userInfo.NICKNAME}"></label>
			</div>
		</nav>
	</div>

	<div class="container">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation"><a th:href="@{make_diet(AT=${AT})}">Main</a></li>
			<li role="presentation"><a th:href="@{cookbook(AT=${AT})}">CookBook</a></li>
			<li role="presentation" class="active"><a>History</a></li>
		</ul>

		<div class="panel panel-default" style="margin-top: 20px;">
			<div class="panel-heading">
				<div class="btn-group">历史清单</div>
			</div>
			<div class="panel-body">正在建设中。。。</div>
		</div>
	</div>

	<div class="container">
		<nav class="navbar-default navbar-fixed-bottom">
			
		</nav>
	</div>
</body>
</html>