<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link})">
</head>

<script type="text/javascript" th:inline="javascript">
	function onBridgeReady() {
		WeixinJSBridge
				.invoke(
						'getBrandWCPayRequest',
						{
							"appId" : /*[[${prepayInfo[appId]}]]*/"wx2421b1c4370ec43b", // 公众号名称，由商户传入
							"timeStamp" : /*[[${prepayInfo[timeStamp]}]]*/" 1395712654", // 时间戳，自1970年以来的秒数
							"nonceStr" : /*[[${prepayInfo[nonceStr]}]]*/"e61463f8efa94090b1f366cccfbbb444", // 随机串
							"package" : /*[[${prepayInfo[package]}]]*/"prepay_id=u802345jgfjsdfgsdg888",
							"signType" : /*[[${prepayInfo[signType]}]]*/"MD5", // 微信签名方式:
							"paySign" : /*[[${prepayInfo[paySign]}]]*/"70EA570631E4BB79628FBCA90534C63FF7FADD89" // 微信签名
						}, function(res) {
							if (res.err_msg == "get_brand_wcpay_request:ok") {
								$("#successTip").show();
							} // 使用以上方式判断前端返回,微信团队郑重提示:res.err_msg将在用户支付成功后返回 ok，但并不保证它绝对可靠。
							else {
								$("#successTip").html(res.err_msg);
							}
						});
	}
	if (typeof WeixinJSBridge == "undefined") {
		if (document.addEventListener) {
			document.addEventListener('WeixinJSBridgeReady', onBridgeReady,
					false);
		} else if (document.attachEvent) {
			document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
			document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
		}
	} else {
		onBridgeReady();
	}
</script>
<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content">
		<div class="container">
			<div class="alert alert-success" role="alert" id="successTip"
				style="display: none">
				<strong>恭喜！</strong> 你已经成功提交订单.
				<p>
					返回<a th:href="@{/eggshop/customer/main(AT=${AT})}"
						class="alert-link"> 主页 </a>或查看<a
						th:href="@{/eggshop/customer/myorder(AT=${AT})}"
						class="alert-link"> 我的订单 </a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>