<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link},~{::script})">
</head>

<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content">
		<!-- 		<div -->
		<!-- 			th:replace="/fragment :: backward-header(${previousPage})"></div> -->

		<div class="sub-page-title">
			<a
				th:href="@{${previousPage}(AT=${AT},selectCategory=${previousCategory})}"><i
				class="fa fa-chevron-left fa-lg" aria-hidden="true"></i></a>我的地址
		</div>

		<div class="myaddress-add">
			<a th:href="@{addressEdit(AT=${AT},previousPage='address')}"><i
				class="fa fa-plus-circle" aria-hidden="true"></i>新增收货地址 </a>
		</div>

		<div class="myaddress-list">
			<article th:each="record : ${addressList}">
				<p>
					<span th:text="${record.RECEIVER_NAME}"></span>&nbsp;&nbsp;<span
						th:text="${record.CONTACT}"></span>
				</p>
				<p th:text="${record.DELIVERY_ADDRESS}"></p>
				<a
					th:href="@{addressEdit(AT=${AT},rowUC=${record.UNIQUE_CODE},previousPage='address')}">修改</a><a
					th:href="@{addressDelete(AT=${AT},rowUC=${record.UNIQUE_CODE})}">删除</a>
			</article>

		</div>
	</div>
</body>
</html>