<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link})">
</head>
<script type="text/javascript" th:inline="javascript">
	
</script>
<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content">
		<!-- 		<div -->
		<!-- 			th:replace="/fragment :: backward-header(${previousPage})"></div> -->

		<div class="sub-page-title">
			<a
				th:href="@{${previousPage}(AT=${AT},selectCategory=${previousCategory})}"><i
				class="fa fa-chevron-left fa-lg" aria-hidden="true"></i></a>收货地址
		</div>

		<div class="address-edit-content">
			<form class="form-horizontal" role="form" th:object="${formData}">
				<input type="hidden" th:field="*{properties[UNIQUE_CODE]}" /> <input
					type="hidden" th:field="*{properties[USER_UC]}" />
				<ul>
					<li><input type="text" th:field="*{properties[RECEIVER_NAME]}"
						placeholder="收货人姓名" maxlength="20"></li>
					<li><input type="tel" th:field="*{properties[CONTACT]}"
						placeholder="手机/电话"></li>
					<li><select th:field="*{properties[PROVINCE]}"
						onchange="changeprovince(this.value)">
							<option value="1">上海</option>
							<option value="2">北京</option>
							<option value="17">河南</option>
							<option value="18">湖北</option>
							<option value="19">湖南</option>
							<option value="20" selected="selected">广东</option>
							<option value="30">宁夏</option>
							<option value="32">山西</option>
					</select> <select th:field="*{properties[CITY]}"
						onchange="changecity(this.value)">
							<option value="237">广州市</option>
							<option value="238">深圳市</option>
							<option value="239">珠海市</option>
							<option value="253">东莞市</option>
							<option value="254">中山市</option>
							<option value="255">潮州市</option>
							<option value="256">揭阳市</option>
							<option value="257">云浮市</option>
					</select></li>
					<li><select th:field="*{properties[DISTRICT]}">
							<option value="2288">增城市</option>
							<option value="31200">番禺区</option>
							<option value="31202">越秀区</option>
							<option value="31203">南沙区</option>
							<option value="31204">天河区</option>
							<option value="31205">从化区</option>
							<option value="31206">荔湾区</option>
							<option value="31210">白云区</option>
							<option value="31211">海珠区</option>
							<option value="31213">黄埔区</option>
							<option value="31214">花都区</option>
							<option value="32260">萝岗区</option>
					</select></li>
					<li><textarea rows="3" th:field="*{properties[ADDRESS]}"
							placeholder="详细地址" maxlength="150"></textarea></li>
					<li><button class="save"
							th:formaction="@{addressSave(AT=${AT},rowUC=*{properties[UNIQUE_CODE]},previousPage=${previousPage})}"
							th:formmethod="post" onclick="return formValidation();">保存</button></li>
				</ul>

			</form>
		</div>
	</div>
</body>
</html>