<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link})">
</head>

<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content" class="shop-main-page-body">
		<div
			th:replace="/fragment :: backward-header(${previousPage})"></div>
		<div style="text-align: center;">我的地址</div>
		<div class="card" th:each="record : ${addressList}">
			<div class="card-block">
				<p class="custom-control-description"
					th:text="${record.DELIVERY_ADDRESS}"></p>
				<p class="custom-control-description">
					<span th:text="${record.RECEIVER_NAME}"></span> <span
						th:text="${record.CONTACT}"></span><a style="float: right;"
						th:href="@{addressEdit(AT=${AT},rowUC=${record.UNIQUE_CODE})}">修改</a>
				</p>
			</div>
		</div>
		<a th:href="@{addressEdit(AT=${AT},previousPage='address')}"> <span
			style="text-align: center; display: block;">
				<button class="btn btn-outline-success" style="text-align: center;">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>新增收货地址
				</button>
		</span>
		</a>
	</div>
</body>
</html>