<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link})">
</head>
<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content" class="shop-main-page-body">
		<div th:replace="/fragment :: shop-header"></div>
		<div class="category-sidebar">
			<div th:class="${selectCategory == null?'a-select':''}">
				<a th:href="@{category(AT=${AT})}"><img alt="all"
					th:src="@{/img/eggshop/all_category.png}"></a>
			</div>
			<div th:each="record : ${categoryList}"
				th:class="${#strings.equals(selectCategory,record.UNIQUE_CODE)?'a-select':''}">
				<a
					th:href="@{category(AT=${AT},selectCategory=${record.UNIQUE_CODE})}"><img
					th:alt="${record.REMARK}"
					th:src="@{#{MultimediaServer.Retrieve.Server}+${record.PATH}}"></a>
			</div>
		</div>
		<div class="category-content">
			<div class="col-xs-4" th:each="record : ${productList}">
				<a
					th:href="@{itemdetail(AT=${AT},productUC=${record.UNIQUE_CODE},previousPage=${previousPage},previousCategory=${selectCategory})}">
					<figure class="figure item-cube">
						<img
							th:src="@{#{MultimediaServer.Retrieve.Server}+${record.PATH}}"
							class="figure-img img-fluid rounded" th:alt="${record.BRIEF}">
						<figcaption class="" th:text="${record.NAME}">Item</figcaption>
					</figure>
				</a>
			</div>
		</div>
		<div th:replace="/fragment :: shop-footer(2)"></div>
	</div>
</body>
</html>