<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link})">
</head>
<script type="text/javascript" th:inline="javascript">
	$(document).ready(function() {
		//initialize swiper when document ready  
		var swiper = new Swiper('.swiper-container', {
			pagination : '.swiper-pagination',
			paginationClickable : true,
			loop : true,
		// 			autoplay : 2500,
		// 			autoplayDisableOnInteraction : false
		});
		
		//add item ajax script binding
		$("#addItem-btn").click(function() {
			$("#page-loading").show();
			var $btn = $(this).button('loading');
			var productCount = $("#product-count").val();
			$.post("addItem", {
				productUC : [[${productUC}]],
				AT : [[${AT}]],
				productCount : productCount
			}, function(resultVar) {
				$("#cart-btn").fadeToggle('fast');
				$("#cart-count-span").html(resultVar);
				$("#cart-btn").fadeToggle('fast');
				$btn.button('reset');
				$("#page-loading").hide();
			});
		});
	});
	
</script>
<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content" class="shop-main-page-body">
		<div
			th:replace="/fragment :: backward-header(${previousPage})"></div>
		<!-- Swiper -->
		<div class="swiper-container itemdetail-swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" th:each="record : ${productMediaList}">
					<img th:src="@{#{MultimediaServer.Retrieve.Server}+${record.PATH}}"
						th:alt="${record.ORDER_NUM}">
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>
		<div class="card itemdetail-cotent">
			<div class="card-header">
				<h4 th:text="${product.NAME}">product.NAME</h4>
				<kbd>
					RMB <span th:text="${product.PRICE}">88.88</span>
				</kbd>
			</div>
			<div class="card-block">
				<p th:text="${product.BRIEF}">product.BRIEF</p>
				<p></p>
			</div>
		</div>
		<div th:utext="${product.DETAIL_DESCIPTION}"></div>
		<div class="navbar-fixed-bottom itemdetail-addcart-footer">
			<select id="product-count" class="">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
			</select> <a id="addItem-btn"><i class="fa fa-plus-square fa-2x fa-border"
				aria-hidden="true"></i> </a><a id="cart-btn" th:href="@{cart(AT=${AT})}"><i
				class="fa fa-shopping-cart fa-2x fa-border" aria-hidden="true"><span
					id="cart-count-span" th:text="${cartInfo.CART_COUNT}"></span></i></a>
		</div>
	</div>
</body>
</html>