<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link})">
</head>
<script type="text/javascript" th:inline="javascript">
	$(document).ready(function() {
		//initialize swiper when document ready  
		var swiper = new Swiper('.swiper-container', {
			pagination : '.swiper-pagination',
			paginationClickable : true,
			loop : true,
		// 			autoplay : 2500,
		// 			autoplayDisableOnInteraction : false
		});
		
		//add item ajax script binding
		$("#addItem-btn").click(function() {
			$("#page-loading").show();
			var productCount = $("#product-count").val();
			$.post("addItem", {
				productUC : [[${productUC}]],
				AT : [[${AT}]],
				productCount : productCount
			}, function(resultVar) {
				$("#cart-btn").fadeToggle('fast');
				$("#cart-count-span").html(resultVar);
				$("#cart-btn").fadeToggle('fast');
				$("#page-loading").hide();
			});
		});
		
		$("#product-count-minus").click(function() {
			var productCount = parseInt($("#product-count").val(), 10);
			if(productCount<=1){
				return;
			}
			$("#product-count").val(productCount - 1);
		});
		
		$("#product-count-plus").click(function() {
			var productCount = parseInt($("#product-count").val(), 10);
			if(productCount>=100){
				return;
			}
			$("#product-count").val(productCount + 1);
		});
		
		//排版问题，暂时设置图片宽度解决
		$(".itemdetail-detail-description img").width("100%");
	});
	
</script>
<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content" class="shop-main-page-body">
		<div th:replace="/fragment :: backward-header(${previousPage})"></div>
		<!-- Swiper -->
		<div class="swiper-container itemdetail-swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" th:each="record : ${productMediaList}">
					<img th:src="@{#{MultimediaServer.Retrieve.Server}+${record.PATH}}"
						th:alt="${record.ORDER_NUM}">
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
		</div>

		<div class="itemdetail-brief">
			<h4 th:text="${product.NAME}">product.NAME</h4>
			<div class="itemdetail-brief-price">
				<em>¥ <span th:text="${product.PRICE}">88.88</span>
				</em>
			</div>
			<div class="itemdetail-brief-content">
				<p th:text="${product.BRIEF}">product.BRIEF</p>
			</div>
		</div>
		<div class="gap"></div>
		<div class="itemdetail-detail-description"
			th:utext="${product.DETAIL_DESCIPTION}"></div>

		<div class="itemdetail-addcart-footer">

			<div class="cart">
				<a id="cart-btn" th:href="@{cart(AT=${AT})}"><i
					class="fa fa-shopping-cart fa-2x" aria-hidden="true"> <span
						id="cart-count-span" th:text="${cartInfo.CART_COUNT}"></span>
				</i></a>
			</div>
			<div class="product-count">
				<span id="product-count-minus" class="product-count-minus"></span> <input
					id="product-count" class="product-count-input" type="number"
					min="1" max="999" disabled="disabled" value="1" /> <span
					id="product-count-plus" class="product-count-plus"></span>
			</div>

			<div id="addItem-btn" class="add">
				<span>加入购物车</span>
			</div>

		</div>
	</div>
</body>
</html>