<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
<style type="text/css">
.nav-justified {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
}
</style>
</head>
<body style="padding-bottom: 70px; padding-top: 70px;">
	<div th:replace="/eggshop/common/fragment :: shop-header"></div>
	<div class="container"></div>
	<div th:replace="/eggshop/common/fragment :: shop-footer"></div>
</body>
</html>