<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link},~{::script})">
</head>
<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content">
		<!-- 		<div th:replace="/fragment :: backward-header(${previousPage})"></div> -->

		<div class="sub-page-title">
			<a
				th:href="@{${previousPage}(AT=${AT},selectCategory=${previousCategory})}"><span
				class="return"> <i class="fa fa-chevron-left fa-lg"
					aria-hidden="true"></i> 返回
			</span></a><span class="desc">我的订单</span>
		</div>

		<div class="myorder-nav-tabs">
			<ul>
				<li th:class="${#strings.isEmpty(orderStatus)?'active':''}"><a
					th:href="@{${#strings.isEmpty(orderStatus)?'#':'myorder'}(AT=${AT})}">全部订单</a></li>
				<li th:class="${orderStatus=='1'?'active':''}"><a
					th:href="@{${orderStatus=='1'?'#':'myorder'}(AT=${AT},orderStatus=1)}">代付款</a></li>
				<li th:class="${orderStatus=='2'?'active':''}"><a
					th:href="@{${orderStatus=='2'?'#':'myorder'}(AT=${AT},orderStatus=2)}">待收货</a></li>
				<li th:class="${orderStatus=='10'?'active':''}"><a
					th:href="@{${orderStatus=='10'?'#':'myorder'}(AT=${AT},orderStatus=10)}">已完成</a></li>
			</ul>
		</div>


		<div class="myorder-list">
			<div class="myorder-list-item" th:each="record : ${orderList}">
				<p class="order-info">
					<em th:text="${record.CREATE_TIME}">2017-01-14</em> <span
						class="amount" th:text="${'￥' + record.TOTAL_AMT}">￥178.3</span>
				</p>

				<div class="order-operation">
					<div class="status" th:text="${record.STATUS_DESC}">已发货</div>
					<div class="tools">
						<a th:if="${record.STATUS == '1'}"
							th:href="@{/eggshop/payment/customerPayOrder(AT=${AT},orderUC=${record.UNIQUE_CODE})}">支付订单</a>
					</div>

				</div>
				<div class="card-block">
					<table class="preorder-product-table">
						<tbody>
							<tr th:each="item : ${record.itemList}">
								<td th:text="${item.PRODUCT_NAME}"></td>
								<td th:text="${item.PRODUCT_COUNT}"></td>
								<td th:text="${#numbers.formatDecimal(item.SUB_AMT, 0,'DEFAULT', 2, 'DEFAULT')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</body>
</html>