<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link},~{::script})">
<script type="text/javascript" th:inline="javascript">
	function postSample() {
		var mobile = $("#ipt_mobile").val();
		var email = $("#ipt_email").val();
		$.post("saveUserContactInfo", {
			mobile : mobile,
			email : email,
			AT : /*[[${AT}]]*/"1"
		}, function(resultVar) {
			//$("#page-loading").hide();
		});
	}
</script>
</head>

<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content">
		<div class="mine-title">
			<div class="mine-data">
				<div class="pic">
					<span class="icon-mine"></span>
				</div>
				<div class="name" th:text="${userInfo.NICKNAME}">巴拉巴黎小魔鲜</div>
				<div class="integral">积分：0</div>
			</div>
			<div class="mine-bg">
				<div class="mine-bg02"></div>
			</div>
		</div>
		<div class="order">
			<div class="title">
				<span class="name">我的订单</span> <a th:href="@{myorder(AT=${AT})}" href="order-list.html">查看全部订单<span
					class="icon-arrow-left"></span></a>
			</div>

			<ul class="clearfix">
				<li><a th:href="@{myorder(AT=${AT},orderStatus=1)}" href="#.html"><span class="icon icon-payment"></span>
						<p>待付款</p></a></li>
				<li><a th:href="@{myorder(AT=${AT},orderStatus=2)}" href="#.html"><span class="icon icon-payment2"></span>
						<p>待收货</p></a></li>
				<li><a th:href="@{myorder(AT=${AT},orderStatus=10)}" href="#.html"><span class="icon icon-payment3"></span>
						<p>已完成</p></a></li>
			</ul>

		</div>
		<div class="mine-list">
			<ul>
				<li><span class="title">我的地址</span> <a href="#" th:href="@{address(AT=${AT})}">管理地址<span
						class="icon-arrow-left"></span></a></li>
				<li><span class="title">我的抵用券</span> <a href="#"><span
						class="red">0张抵用券</span><span class="icon-arrow-left"></span></a></li>
				<li><span class="title">常见问题</span> <a href="#"><span
						class="icon-arrow-left"></span></a></li>
			</ul>
		</div>
		<!--底部菜单栏-->
		<div class="footer"></div>
		<div class="nav-bottom">
			<ul>
				<li><a th:href="@{main(AT=${AT})}" href="index.html"><span
						class="icon icon-home"></span>
						<p>首页</p></a></li>
				<li><a th:href="@{category(AT=${AT})}"
					href="sort.html"><span class="icon icon-sort"></span><i
						class="sort"></i>
						<p>分类</p></a></li>
				<li><a th:href="@{cart(AT=${AT})}" href="cart.html"><span
						class="icon icon-cart"></span><i class="cart"></i>
						<p>购物车</p></a></li>
				<li class="focus"><a th:href="@{myprofile(AT=${AT})}" href="mine.html"><span
						class="icon icon-mine"></span><i class="mine"></i>
						<p>我的</p></a></li>
			</ul>
		</div>
	</div>
</body>
</html>
