<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
</head>
<script type="text/javascript" th:inline="javascript">
	function modifyClicked() {
		$("#btn_modify").hide();
		$("#dsp_mobile").hide();
		$("#dsp_email").hide();

		$("#btn_save").show();
		$("#ipt_mobile").show();
		$("#ipt_email").show();
	}

	function saveClicked() {
		var mobile = $("#ipt_mobile").val();
		var email = $("#ipt_email").val();
		$.post("saveUserInfo", {
			mobile : mobile,
			email : email,
			AT : /*[[${AT}]]*/
		}, function(resultVar) {
		});

		$("#btn_modify").show();

		$("#dsp_mobile").html(mobile).show();
		$("#dsp_email").html(email).show();

		$("#btn_save").hide();
		$("#ipt_mobile").hide();
		$("#ipt_email").hide();
	}
</script>
<body class="shop-main-page-body">
	<div th:insert="/eggshop/common/fragment :: shop-header"></div>

	<div class="myprofile-userheading">
		<img
			th:src="${userInfo.HEADIMGURL}"
			width="120" height="120" class="img-fluid"
			alt="Generic placeholder thumbnail">
		<h4 th:text="${userInfo.NICKNAME}">NICKNAME</h4>
		<span class="text-muted">积分:5852</span>
	</div>

	<div class="container">
		<div class="card">
			<div class="card-header">
				<h3 style="display: inline">Contact</h3>
				<a class="btn btn-default" onclick="modifyClicked()" id="btn_modify"
					role="button" style="float: right">修改</a><a class="btn btn-default"
					onclick="saveClicked()" id="btn_save" role="button"
					style="float: right; display: none">保存</a>
			</div>
			<div class="card-block" th:object="${contactInfo}">

				<strong>手机号码</strong><br />
				<div class="input-group">
					<p style="display: inline" th:text="*{MOBILE}" id="dsp_mobile"></p>
					<input id="ipt_mobile" type="tel" class="form-control"
						th:value="*{MOBILE}" style="display: none"></input>
				</div>

				<strong>E-mail</strong><br />
				<div class="input-group">
					<p style="display: inline" th:text="*{EMAIL}" id="dsp_email"></p>
					<input id="ipt_email" type="email" class="form-control"
						th:value="*{EMAIL}" style="display: none"></input>
				</div>
			</div>
		</div>
		<!-- html comment -->
		<!--/* This code will be removed at Thymeleaf parsing time! */-->
		<!--/*-->
		<div>you can see me only before Thymeleaf processes me!</div>
		<!--*/-->

		<div class="card">
			<div class="card-header">
				<h3 class="panel-title">Weixin</h3>
			</div>
			<div class="card-block">
				<!--/*/ <th:block th:each="entry : ${weixinUserInfo}"> /*/-->
				<p>
					<b th:text="${entry.key + ':'}">昵称</b> <span
						th:text="${entry.value}"></span>
				</p>
				<!--/*/ </th:block> /*/-->
			</div>
		</div>
	</div>
	<div th:insert="/eggshop/common/fragment :: shop-footer(4)"></div>
</body>
</html>