<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link th:href="@{/css/docs.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<script type="text/javascript">
	function modifyClicked() {
		$("#btn_modify").hide();
		$("#dsp_mobile").hide();
		$("#dsp_email").hide();

		$("#btn_save").show();
		$("#ipt_mobile").show();
		$("#ipt_email").show();
	}

	function saveClicked() {
		var AT = $("#AT").val();
		var mobile = $("#ipt_mobile").val();
		var email = $("#ipt_email").val();
		console.info('1');
		$.post("saveUserInfo", {
			mobile : mobile,
			email : email,
			AT : AT
		}, function(resultVar) {
		});

		$("#btn_modify").show();

		$("#dsp_mobile").html(mobile).show();
		$("#dsp_email").html(email).show();

		$("#btn_save").hide();
		$("#ipt_mobile").hide();
		$("#ipt_email").hide();
	}
</script>

<title></title>
</head>
<body style="padding-top: 20px;">
	<div class="container">
		<input id="AT" type="hidden" th:value="${AT}" />
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title" style="display: inline">Contact</h3>
				<a class="btn btn-default" onclick="modifyClicked()" id="btn_modify"
					role="button" style="float: right">修改</a><a class="btn btn-default"
					onclick="saveClicked()" id="btn_save" role="button"
					style="float: right; display: none">保存</a>
			</div>
			<div class="panel-body" th:object="${userInfo}">

				<strong>手机号码</strong><br />
				<div class="input-group">
					<p style="display: inline" th:text="*{MOBILE}" id="dsp_mobile"></p>
					<input id="ipt_mobile" type="tel" class="form-control"
						th:value="*{MOBILE}" style="display: none"></input>
				</div>

				<strong>E-mail</strong><br />
				<div class="input-group">
					<p style="display: inline" th:text="*{EMAIL}" id="dsp_email"></p>
					<input id="ipt_email" type="email" class="form-control"
						th:value="*{EMAIL}" style="display: none"></input>
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Weixin</h3>
			</div>
			<div class="panel-body" th:object="${weixinUserInfo}">

				<p>
					<strong>昵称</strong>
				</p>
				<p th:text="*{NICKNAME}"></p>


				<p>
					<strong>性别</strong>
				</p>
				<p th:text="*{SEX}=='1'?'男':'女'"></p>
				<p>
					<strong>国家</strong>
				</p>
				<p th:text="*{COUNTRY}"></p>


				<p>
					<strong>省份</strong>
				</p>
				<p th:text="*{PROVINCE}"></p>


				<p>
					<strong>城市</strong>
				</p>
				<p th:text="*{CITY}"></p>


				<p>
					<strong>语言</strong>
				</p>
				<p th:text="*{LANGUAGE}"></p>

			</div>
		</div>
	</div>
</body>
</html>