<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!--  -->
	<div th:fragment="header-user-shoppingcart">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: user-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: shoppingcart-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-user">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: user-tips"></div>
			</div>
		</nav>
	</div>
	
	<div th:fragment="header-back-shoppingcart">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: shoppingcart-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-preorder">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: preorder-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-checkout">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: checkout-tips"></div>
			</div>
		</nav>
	</div>

	<!--  -->
	<div th:fragment="user-tips">
		<a th:href="@{/eggshop/user/myprofile(AT=${AT})}"><img
			th:src="${userInfo.HEADIMGURL}" alt="..."
			style="width: 30px; height: 30px" /> <label
			th:text="${userInfo.NICKNAME}"></label></a>
	</div>

	<div th:fragment="shoppingcart-tips">
		<a class="btn btn-primary" type="button"
			th:href="@{shoppingcart(AT=${AT})}"> <span
			class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
			<span id="shoppingcart-count" class="badge"
			th:text="${cartInfo.CART_COUNT}"></span>
		</a>
	</div>

	<div th:fragment="backmain-tips">
		<a class="btn btn-default" type="button" th:href="@{/eggshop/buy/main(AT=${AT})}">
			<span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span>
			<span>Main</span>
		</a>
	</div>

	<div th:fragment="preorder-tips">
		<a class="btn btn-primary" type="button"
			th:href="@{checkout(AT=${AT})}"> <span
			class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
			PreOder
		</a>
	</div>

	<div th:fragment="checkout-tips">
		<a class="btn btn-primary" type="button" th:href="@{main(AT=${AT})}">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			Checkout
		</a>
	</div>

	<!--  -->
	<div th:fragment="add2cart">
		<nav class="navbar-default navbar-fixed-bottom">
			<p class="text-center">
				<span class="badge"><select id="item-count"
					class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
				</select></span>
				<button id="add-item-btn" class="btn btn-info" type="button">
					Add <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				</button>
			</p>
		</nav>
	</div>
</body>
</html>