<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- shop-footer -->
	<div th:fragment="shop-footer(active)"
		class="navbar-fixed-bottom shop-footer">
		<div th:class="${active==1?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==1?'#':'main'}(AT=${AT})}"><i
					th:class="|fa fa-home fa-3x ${active==1?'a-select':''}|"
					aria-hidden="true"></i></a>
			</div>
		</div>
		<div th:class="${active==2?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==2?'#':'category'}(AT=${AT})}"><i
					th:class="|fa fa-list fa-3x ${active==2?'a-select':''}|"
					aria-hidden="true"></i></a>
			</div>
		</div>
		<div th:class="${active==3?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==3?'#':'cart'}(AT=${AT})}"><i
					th:class="|fa fa-shopping-cart fa-3x ${active==3?'a-select':''}|"
					aria-hidden="true"></i> </a>
			</div>
		</div>
		<div th:class="${active==4?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==4?'#':'myprofile'}(AT=${AT})}"><i
					th:class="|fa fa-user-circle-o fa-3x ${active==4?'a-select':''}|"
					aria-hidden="true"></i></a>
			</div>
		</div>
	</div>

	<!-- shop-header -->
	<div th:fragment="shop-header" class="navbar-fixed-top shop-header">
		<div class="col-xs-9">
			<a><i class="fa fa-pagelines fa-lg" aria-hidden="true">乐果农场</i></a>
		</div>
		<!-- 		<div class="col-xs-3"></div> -->
		<!-- 		<div class="col-xs-3"></div> -->
		<div class="col-xs-3">
			<a href="#"><i class="fa fa-commenting fa-1x" aria-hidden="true"></i><span
				class="badge"></span></a>
		</div>
	</div>



	<div th:fragment="backward-header(previousPage)"
		class="navbar-fixed-top backward-header">
		<div class="col-xs-3">
			<a
				th:href="@{${previousPage}(AT=${AT},selectCategory=${previousCategory})}"><i
				class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i></a>
		</div>
	</div>

	<div th:fragment="page-loading"
		style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 90; background-color: transparent;">
		<div
			style="text-align: center; background-color: rgba(0, 0, 0, 0.5); color: #fff; position: fixed; top: 50%; left: 50%; margin-left: -70px; margin-top: -48px; width: 140px; border-radius: 6px; font-size: 14px; padding: 58px 0 10px 0;">
			<p>
				<i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
			</p>
			<p>请求加载中...</p>
		</div>
	</div>

	<div th:fragment="editor-oper-page-header">
		<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
			<a class="navbar-brand" th:href="@{/}"><i class="fa fa-home"
				aria-hidden="true"></i></a>
			<div id="navbar">
				<nav class="nav navbar-nav float-xs-left">
					<a class="nav-item nav-link"
						th:href="@{/eggshop/editor/categoryList(AT=${AT})}">产品类别</a> <a
						class="nav-item nav-link"
						th:href="@{/eggshop/editor/productList(AT=${AT})}">产品</a><a
						class="nav-item nav-link"
						th:href="@{/eggshop/editor/mainSwiperList(AT=${AT})}">主页浮动窗</a><a
						class="nav-item nav-link"
						th:href="@{/eggshop/operator/orderList(AT=${AT})}">所有订单</a>
				</nav>
			</div>
		</nav>
	</div>

	<!-- page header -->
	<div th:fragment="header-user-shoppingcart">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: user-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: shoppingcart-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-user">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: user-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-shoppingcart">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: shoppingcart-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-preorder">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: preorder-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-checkout">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: checkout-tips"></div>
			</div>
		</nav>
	</div>

	<!-- tips -->
	<div th:fragment="user-tips">
		<a th:href="@{/eggshop/user/myprofile(AT=${AT})}"><img
			th:src="${userInfo.HEADIMGURL}" alt="..."
			style="width: 30px; height: 30px" /> <label
			th:text="${userInfo.NICKNAME}"></label></a>
	</div>

	<div th:fragment="backmain-tips">
		<a class="btn btn-default" type="button"
			th:href="@{/eggshop/buy/main(AT=${AT})}"> <span
			class="glyphicon glyphicon-home"></span>
		</a>
	</div>

	<div th:fragment="shoppingcart-tips">
		<a class="btn btn-primary" type="button"
			th:href="@{shoppingcart(AT=${AT})}"> <span
			class="glyphicon glyphicon-shopping-cart"></span> <span
			id="shoppingcart-count" class="badge"
			th:text="${cartInfo.CART_COUNT}"></span>
		</a>
	</div>

	<div th:fragment="order-tips">
		<a class="btn btn-default" type="button"
			th:href="@{/eggshop/buy/main(AT=${AT})}"> <span
			class="glyphicon glyphicon-list-alt"></span>
		</a>
	</div>


	<div th:fragment="myprofile-tips">
		<a class="btn btn-default" type="button"
			th:href="@{/eggshop/user/myprofile(AT=${AT})}"> <span
			class="glyphicon glyphicon-user"></span>
		</a>

	</div>

	<div th:fragment="preorder-tips">
		<a class="btn btn-primary" type="button"
			th:href="@{checkout(AT=${AT})}"> <span
			class="glyphicon glyphicon-credit-card"></span> PreOder
		</a>
	</div>

	<div th:fragment="checkout-tips">
		<a class="btn btn-primary" type="button" th:href="@{main(AT=${AT})}">
			<span class="glyphicon glyphicon-ok"></span> Checkout
		</a>
	</div>

</body>
</html>