<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- page footer -->
	<div th:fragment="shop-footer(active)"
		class="navbar-fixed-bottom shop-footer">
		<div th:class="${active==1?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==1?'#':'main'}(AT=${AT})}"><i
					th:class="|fa fa-home fa-3x ${active==1?'a-select':''}|"
					aria-hidden="true"></i></a>
			</div>
		</div>
		<div th:class="${active==2?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==2?'#':'category'}(AT=${AT})}"><i
					th:class="|fa fa-list fa-3x ${active==2?'a-select':''}|"
					aria-hidden="true"></i></a>
			</div>
		</div>
		<div th:class="${active==3?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==3?'#':'cart'}(AT=${AT})}"><i
					th:class="|fa fa-shopping-cart fa-3x ${active==3?'a-select':''}|"
					aria-hidden="true"></i> </a>
			</div>
		</div>
		<div th:class="${active==4?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==4?'#':'myprofile'}(AT=${AT})}"><i
					th:class="|fa fa-user-circle-o fa-3x ${active==4?'a-select':''}|"
					aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	<div th:fragment="shop-header" class="navbar-fixed-top shop-header">
		<div class="col-xs-3">
			<a th:href="@{/}"><i class="fa fa-pagelines fa-lg"
				aria-hidden="true">Dengshaobing</i></a>
		</div>
		<div class="col-xs-3"></div>
		<div class="col-xs-3"></div>
		<div class="col-xs-3">
			<a href="#"><i class="fa fa-commenting fa-1x" aria-hidden="true"></i><span
				class="badge">6</span></a>
		</div>
	</div>

	<div th:fragment="itemdetail-addcart-footer"
		class="navbar-fixed-bottom itemdetail-addcart-footer">
		<select id="product-count" class="">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
			<option>10</option>
		</select> <a id="addItem-btn"><i class="fa fa-plus-square fa-2x fa-border"
			aria-hidden="true"></i> </a><a id="cart-btn" th:href="@{cart(AT=${AT})}"><i
			class="fa fa-shopping-cart fa-2x fa-border" aria-hidden="true"><span
				id="cart-count-span" th:text="${cartInfo.CART_COUNT}"></span></i></a>
	</div>

	<div th:fragment="cart-preorder-footer" class=" cart-preorder-footer">
		SUM:￥88.88 <button type="submit" class="btn btn-default"
			th:formaction="@{preorder(AT=${AT})}" th:formmethod="post">
			<i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
		</button>
	</div>
	

	<div th:fragment="backward-header(previousPage)"
		class="navbar-fixed-top backward-header">
		<div class="col-xs-3">
			<a
				th:href="@{${previousPage}(AT=${AT},selectCategory=${previousCategory})}"><i
				class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i></a>
		</div>
	</div>

	<!-- page header -->
	<div th:fragment="header-user-shoppingcart">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: user-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: shoppingcart-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-user">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: user-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-shoppingcart">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: shoppingcart-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-preorder">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: preorder-tips"></div>
			</div>
		</nav>
	</div>

	<div th:fragment="header-back-checkout">
		<nav class="navbar-default navbar-fixed-top">
			<div class="pull-left" style="margin: 10px">
				<div th:replace=":: backmain-tips"></div>
			</div>
			<div class="pull-right" style="margin: 10px">
				<div th:replace=":: checkout-tips"></div>
			</div>
		</nav>
	</div>

	<!-- tips -->
	<div th:fragment="user-tips">
		<a th:href="@{/eggshop/user/myprofile(AT=${AT})}"><img
			th:src="${userInfo.HEADIMGURL}" alt="..."
			style="width: 30px; height: 30px" /> <label
			th:text="${userInfo.NICKNAME}"></label></a>
	</div>

	<div th:fragment="backmain-tips">
		<a class="btn btn-default" type="button"
			th:href="@{/eggshop/buy/main(AT=${AT})}"> <span
			class="glyphicon glyphicon-home"></span>
		</a>
	</div>

	<div th:fragment="shoppingcart-tips">
		<a class="btn btn-primary" type="button"
			th:href="@{shoppingcart(AT=${AT})}"> <span
			class="glyphicon glyphicon-shopping-cart"></span> <span
			id="shoppingcart-count" class="badge"
			th:text="${cartInfo.CART_COUNT}"></span>
		</a>
	</div>

	<div th:fragment="order-tips">
		<a class="btn btn-default" type="button"
			th:href="@{/eggshop/buy/main(AT=${AT})}"> <span
			class="glyphicon glyphicon-list-alt"></span>
		</a>
	</div>


	<div th:fragment="myprofile-tips">
		<a class="btn btn-default" type="button"
			th:href="@{/eggshop/user/myprofile(AT=${AT})}"> <span
			class="glyphicon glyphicon-user"></span>
		</a>

	</div>

	<div th:fragment="preorder-tips">
		<a class="btn btn-primary" type="button"
			th:href="@{checkout(AT=${AT})}"> <span
			class="glyphicon glyphicon-credit-card"></span> PreOder
		</a>
	</div>

	<div th:fragment="checkout-tips">
		<a class="btn btn-primary" type="button" th:href="@{main(AT=${AT})}">
			<span class="glyphicon glyphicon-ok"></span> Checkout
		</a>
	</div>

</body>
</html>