.version-tag {
	display: block;
	position: absolute;
	width: 120px;
	border: solid #fff;
	border-width: 2px 1px;
	padding: .25em 2.25em;
	margin: 18px -30px 0 0;
	right: 0;
	top: 0px;
	background: #f7cf57;
	color: #000;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	z-index: 9;
	-webkit-transform: rotate(45deg) translate(4.8em, -1em);
	-moz-transform: rotate(45deg) translate(4.8em, -1em);
	-ms-transform: rotate(45deg) translate(4.8em, -1em);
	-o-transform: rotate(45deg) translate(4.8em, -1em);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .40);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, .40);
	-o-box-shadow: 0 0 6px rgba(0, 0, 0, .40);
	box-shadow: 0 0 6px rgba(0, 0, 0, .40);
}

.shop-main-page-body {
	padding-top: 28px;
	padding-bottom: 50px;
}

.shop-main-page-body .container {
	padding-left: 0;
	padding-right: 0;
}

.shop-itemdetail-page-body {
	padding-bottom: 50px;
}

.shop-header {
	background-color: rgba(0, 0, 0, 0);
}

.shop-footer {
	background-color: #ffffff;
	border-top-style: solid;
	border-top-width: 7px;
	border-top-color: #F9F9F9;
}

.shop-footer>div {
	float: left;
	width: 25%;
}

.shop-footer>div>div {
	margin-left: auto;
	margin-right: auto;
	width: 45px;
}

.shop-footer a {
	color: #808080;
}

.shop-footer .a-select {
	color: #c9302c;
}

.shop-footer i {
	height: 48px;
	width: 48px;
}

.item-cube {
	background-color: aliceblue;
}

.item-cube>figcaption {
	line-height: 1;
}

.main-swiper-container {
	background-color: aliceblue;
}

.category-sidebar {
	float: left;
	width: 25%;
	top: 28px;
	bottom: 0;
	position: fixed;
	overflow-y: auto;
	background: #f1f1f3;
}

.category-sidebar>div {
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.category-sidebar img {
	height: 45px;
	width: 45px;
}

.category-sidebar .a-select {
	background-color: gainsboro;
}

.category-content {
	float: left;
	width: 75%;
	position: absolute;
	left: 25%;
	overflow-y: auto;
}

.myprofile-userheading {
	text-align: center !important;
}

.myprofile-userheading>img {
	border-radius: 15%;
}

.itemdetail-cotent div {
	word-wrap: break-word;
}

.itemdetail-swiper-container {
	background-color: aliceblue;
}

.itemdetail-addcart-footer {
	background-color: #ffffff;
	text-align: center;
}

.itemdetail-addcart-footer #cart-btn {
	float: left;
}

.backward-header {
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0);
	float: left;
}

.cart-preorder-footer {
	bottom: 55px;
	position: fixed;
	right: 10%;
}

.cart-item-count-input {
	width: 50px;
}

.cart-item-checkbox {
	width: 20px;
	height: 30px;
}

.preorder-page-body{
	padding-bottom: 110px;
}
.preorder-footer{
	background-color: white;
}

.preorder-payment-weixin {
	display: inline-block;
	line-height: 48px;
	color: #33c37f;
	font-size: 1.4rem;
	background: url(/dengshaobing/img/eggshop/wx.png) no-repeat;
	background-size: 3rem 3rem;
	padding-left: 55px;
	border: 1px solid #33c37f;
	border-radius: .3rem;
}