<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: common_header(~{::title},~{::link})">
<title>About Me</title>
</head>
<body>
	<div class="container">
		<address>
			<strong>Seven Space, Workshop</strong><br /> <i
				class="fa fa-map-marker fa-lg" aria-hidden="true"></i> 11Floor, KK
			Building, Shen Zhen, CN 518057<br /> <i class="fa fa-phone fa-lg"
				aria-hidden="true"></i> (0755) 26090900-8279
		</address>

		<address>
			<i class="fa fa-envelope fa-lg" aria-hidden="true"></i> <a
				href="mailto:250575979@qq.com">250575979@qq.com</a>
		</address>

		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group">
				<a href="http://www.thymeleaf.org/" target="_blank"><img
					th:src="@{/img/techlink/thymeleaf.ico}" class="img-responsive"
					style="width: 20px; height: 20px" /></a>
			</div>
			<div class="btn-group">
				<a href="https://www.w3.org/TR/html5/" target="_blank"><img
					th:src="@{/img/techlink/html5.ico}" class="img-responsive"
					style="width: 20px; height: 20px" /></a>
			</div>
			<div class="btn-group">
				<a href="http://getbootstrap.com/" target="_blank"><img
					th:src="@{/img/techlink/bootstrap.ico}" class="img-responsive"
					style="width: 20px; height: 20px" /></a>
			</div>
			<div class="btn-group">
				<a href="http://idangero.us/swiper/" target="_blank"><img
					th:src="@{/img/techlink/swiper.ico}" class="img-responsive"
					style="width: 20px; height: 20px" /></a>
			</div>
			<div class="btn-group">
				<a href="http://fontawesome.io/icons/" target="_blank"><img
					th:src="@{/img/techlink/fontawesome.ico}" class="img-responsive"
					style="width: 20px; height: 20px" /></a>
			</div>
		</div>
	</div>
	<div th:replace="/base :: copy-right"></div>
</body>
</html>