<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- shop-footer -->
	<div th:fragment="shop-footer(active)" class="shop-footer">
		<a th:class="${active==1?'a-select':''}" th:href="@{main(AT=${AT})}"><span
			class="line"><i class="fa fa-home fa-2x" aria-hidden="true"></i></span>
			<span class="text">主页</span></a> <a th:class="${active==2?'a-select':''}"
			th:href="@{category(AT=${AT})}"><span class="line"><i
				class="fa fa-list fa-2x" aria-hidden="true"></i></span> <span class="text">分类</span></a>
		<a th:class="${active==3?'a-select':''}" th:href="@{cart(AT=${AT})}"><span
			class="line"><i class="fa fa-shopping-cart fa-2x"
				aria-hidden="true"></i></span> <span class="text">购物车</span></a> <a
			th:class="${active==4?'a-select':''}"
			th:href="@{myprofile(AT=${AT})}"><span class="line"><i
				class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></span> <span
			class="text">个人中心</span></a>
	</div>

	<!-- shop-header -->
	<div th:fragment="shop-header" class="navbar-fixed-top shop-header">
		<!-- 		<div class="col-xs-9"> -->
		<!-- 			<i class="fa fa-pagelines fa-lg" aria-hidden="true">乐果农场</i> -->
		<!-- 		</div> -->
		<!-- 		<div class="col-xs-3"></div> -->
		<!-- 		<div class="col-xs-3"></div> -->
		<!-- 		<div class="col-xs-3"> -->
		<!-- 			<i class="fa fa-commenting fa-1x" aria-hidden="true"></i><span -->
		<!-- 				class="badge"></span> -->
		<!-- 		</div> -->
	</div>


	<!-- backward -->
	<div th:fragment="backward-header(previousPage)"
		class="navbar-fixed-top backward-header">
		<a
			th:href="@{${previousPage}(AT=${AT},selectCategory=${previousCategory})}"><i
			class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i></a>
	</div>

	<!-- Oper&Editor page header -->
	<div th:fragment="editor-oper-page-header">
		<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
			<a class="navbar-brand" th:href="@{/}"><i class="fa fa-home"
				aria-hidden="true"></i></a>
			<div id="navbar">
				<nav class="nav navbar-nav float-xs-left">
					<a class="nav-item nav-link"
						th:href="@{/eggshop/editor/categoryList(AT=${AT})}">产品类别</a> <a
						class="nav-item nav-link"
						th:href="@{/eggshop/editor/productList(AT=${AT})}">产品</a><a
						class="nav-item nav-link"
						th:href="@{/eggshop/editor/mainSwiperList(AT=${AT})}">主页浮动窗</a><a
						class="nav-item nav-link"
						th:href="@{/eggshop/operator/orderList(AT=${AT})}">所有订单</a> <a
						class="nav-item nav-link"
						th:href="@{/eggshop/editor/wpMenu(AT=${AT})}">公众号菜单</a><a
						class="nav-item nav-link"
						th:href="@{/eggshop/editor/wpBrodcast(AT=${AT})}">公众号消息推送</a><a
						class="nav-item nav-link"
						th:href="@{/eggshop/admin/systemInspector(AT=${AT})}">系统信息</a>
				</nav>
			</div>
		</nav>
	</div>

	<!--  -->
	<div th:fragment="copy-right"
		style="text-align: right; position: fixed; bottom: 0;">
		<a role="button" th:href="@{/}">&copy; 2016 Dengshaobing. All
			rights reserved.</a>
	</div>
</body>
</html>