<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- shop-footer -->
	<div th:fragment="shop-footer(active)"
		class="navbar-fixed-bottom shop-footer">
		<div th:class="${active==1?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==1?'#':'main'}(AT=${AT})}"><i
					th:class="|fa fa-home fa-3x ${active==1?'a-select':''}|"
					aria-hidden="true"></i></a>
			</div>
		</div>
		<div th:class="${active==2?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==2?'#':'category'}(AT=${AT})}"><i
					th:class="|fa fa-list fa-3x ${active==2?'a-select':''}|"
					aria-hidden="true"></i></a>
			</div>
		</div>
		<div th:class="${active==3?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==3?'#':'cart'}(AT=${AT})}"><i
					th:class="|fa fa-shopping-cart fa-3x ${active==3?'a-select':''}|"
					aria-hidden="true"></i> </a>
			</div>
		</div>
		<div th:class="${active==4?'shop-footer-div-select':''}">
			<div>
				<a th:href="@{${active==4?'#':'myprofile'}(AT=${AT})}"><i
					th:class="|fa fa-user-circle-o fa-3x ${active==4?'a-select':''}|"
					aria-hidden="true"></i></a>
			</div>
		</div>
	</div>

	<!-- shop-header -->
	<div th:fragment="shop-header" class="navbar-fixed-top shop-header">
		<div class="col-xs-9">
			<a><i class="fa fa-pagelines fa-lg" aria-hidden="true">乐果农场</i></a>
		</div>
		<!-- 		<div class="col-xs-3"></div> -->
		<!-- 		<div class="col-xs-3"></div> -->
		<div class="col-xs-3">
			<a href="#"><i class="fa fa-commenting fa-1x" aria-hidden="true"></i><span
				class="badge"></span></a>
		</div>
	</div>


	<!-- backward -->
	<div th:fragment="backward-header(previousPage)"
		class="navbar-fixed-top backward-header">
		<div class="col-xs-3">
			<a
				th:href="@{${previousPage}(AT=${AT},selectCategory=${previousCategory})}"><i
				class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i></a>
		</div>
	</div>

	<!-- Oper&Editor page header -->
	<div th:fragment="editor-oper-page-header">
		<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
			<a class="navbar-brand" th:href="@{/}"><i class="fa fa-home"
				aria-hidden="true"></i></a>
			<div id="navbar">
				<nav class="nav navbar-nav float-xs-left">
					<a class="nav-item nav-link"
						th:href="@{/eggshop/editor/categoryList(AT=${AT})}">产品类别</a> <a
						class="nav-item nav-link"
						th:href="@{/eggshop/editor/productList(AT=${AT})}">产品</a><a
						class="nav-item nav-link"
						th:href="@{/eggshop/editor/mainSwiperList(AT=${AT})}">主页浮动窗</a><a
						class="nav-item nav-link"
						th:href="@{/eggshop/operator/orderList(AT=${AT})}">所有订单</a> <a
						class="nav-item nav-link"
						th:href="@{/eggshop/editor/wpMenu(AT=${AT})}">公众号菜单</a><a
						class="nav-item nav-link"
						th:href="@{/eggshop/editor/wpBrodcast(AT=${AT})}">公众号消息推送</a><a
						class="nav-item nav-link"
						th:href="@{/eggshop/admin/systemInspector(AT=${AT})}">系统信息</a>
				</nav>
			</div>
		</nav>
	</div>

	<!--  -->
	<div th:fragment="copy-right"
		style="text-align: right; position: fixed; bottom: 0;">
		<a role="button" th:href="@{/}">&copy; 2016 Dengshaobing. All
			rights reserved.</a>
	</div>
</body>
</html>