<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<title>Index Page</title>
</head>
<body>
	<div class="container">

		<h1>
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			Welcome!
		</h1>
		<br /> <br /> <br />
		<p>
			<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
			And now is
			<b th:text="${#calendars.format(#calendars.createNow())}"></b>
			. <br /> Shaobing is
			<script type="text/javascript">
				var now = new Date();
				var birth = new Date("2016/04/07");
				document.write(Math.floor((now - birth) / 86400000))
			</script>
			days old. Wish you happy today :P <span
				class="glyphicon glyphicon-gift" aria-hidden="true"></span>
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="eggshop/buy/main?openid=1" role="button">Egg Shop</a>
			<a class="btn btn-primary btn-lg" href="jerry/dish/make_diet?openid=1" role="button">Shao Bing</a>
		</p>
		<p>
			<em>Thank you for using DengShaobing!</em>
		</p>

	</div>
	<footer class="bs-docs-footer">
		<div class="container">
			<ul class="bs-docs-footer-links">
				<li><a href="https://github.com/TommyDeng/dengshaobing">GitHub</a></li>
				<li><a href="eggshop/product/list?openid=1">Examples</a></li>
				<li><a href="aboutme/">About</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>