<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link})">
</head>
<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content" class="shop-main-page-body">

		<div class="myprofile-myorder">

			<div class="myprofile-myorder-all">
				<a>
					<div>
						<span><img
							src="//m.360buyimg.com/mobilecms/jfs/t2782/329/448284447/1176/f4bdcb20/57147ba3Ne2fccde3.png"></span>
						<span>我的订单</span>
					</div>
					<div>
						<span>全部订单</span> <span></span>
					</div>
				</a>
			</div>

			<div class="myprofile-myorder-division">
				<a>
					<div>
						<span class="icon"><img
							src="//m.360buyimg.com/mobilecms/jfs/t2734/339/468866355/3035/82b4343b/57147baaNf2463e54.png" />
							<span>1</span> </span> <span class="desc">待付款</span>
					</div>
				</a> <a>
					<div>
						<span class="icon"> <img
							src="//m.360buyimg.com/mobilecms/jfs/t2839/223/441881839/3204/8236908d/57147bb0N365a03ef.png" />
							<span>2</span>
						</span> <span class="desc">待收货</span>
					</div>
				</a> <a>
					<div>
						<span class="icon"> <img
							src="//m.360buyimg.com/mobilecms/jfs/t1957/64/2623944992/3495/454865ab/57147bbbN2cf7ffd7.png" />
							<span>1</span>
						</span> <span class="desc">返修/退换</span>
					</div>
				</a>
			</div>

		</div>
	</div>
</body>
</html>