<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link},~{::script})">
</head>
<body>
	<div class="container">
		<ul class="list-group">
			<li class="list-group-item"><span class="float-xs-right"><i
					class="fa fa-check-square" aria-hidden="true"></i></span> <kbd>v0.2alpha</kbd>
				微信支付功能开发完成2016-12-26</li>
			<li class="list-group-item"><kbd>v0.1alpha</kbd>
				初始版本上线2016-12-05</li>
		</ul>
	</div>
	<div th:replace="/fragment :: copy-right"></div>
</body>
</html>