<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="import" href="template/include/bootstrap.html" />
<title>Visitor List</title>
</head>
<body>
	<table class="cl" data-sort="table">
		<thead>
			<tr>
				<th>INDEX</th>
				<th>ID</th>
				<th>NAME</th>
				<th>CREATE_TIME</th>
			</tr>
		</thead>
		<tbody th:remove="all-but-first">
			<tr th:each="visitor : ${visitorList}">
				<td th:text="${visitorStat.count}" />
				<td th:text="${visitor.ID}" />
				<td th:text="${visitor.NAME}" />
				<td
					th:text="${#dates.format(visitor.CREATE_TIME, 'yyyy-MM-dd hh:mm:ss.SSS')}" />
			</tr>
		</tbody>
	</table>

</body>
</html>