<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link})">
</head>
<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content">
		<div class="container">
			<form class="form-horizontal" role="form" th:object="${formData}"
				enctype="multipart/form-data">
				<div class="container">
					<input type="hidden" th:field="*{properties[UNIQUE_CODE]}" />
					<div class="form-group">
						<label>顺位</label> <input type="number"
							th:field="*{properties[ORDER_NUM]}" class="form-control"
							required="required" />
					</div>
					<div class="form-group">
						<label>缩略图</label> <input th:type="file"
							th:field="*{properties[THUMBNAIL]}"
							th:required="${#strings.isEmpty(rowUC)}" />
					</div>
					<div class="btn-toolbar" role="toolbar">
						<div class="pull-left" style="margin: 10px">
							<a class="btn btn-info" role="button"
								th:href="@{productMediaList(AT=${AT},productUC=${productUC})}"><span
								class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
								<span>Back</span></a>
						</div>
						<div class="pull-right" style="margin: 10px">
							<button type="submit" class="btn btn-primary"
								th:formaction="@{productMediaSave(rowUC=${rowUC},AT=${AT},productUC=${productUC})}"
								th:formmethod="post" onclick="return formValidation();">Save</button>

						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>