<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/baseBootstrap :: html_head(~{::title},~{::link},~{::script})">
</head>
<body th:replace="/base :: html_body(~{::#body-content})">
	<div id="body-content" class="editor-oper-page-body">
	
		<div th:replace="/fragment :: editor-oper-page-header"></div>
		<div class="container">

			<table class="table">
				<thead class="thead-inverse">
					<tr>
						<th>Property Key</th>
						<th>Property Value</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="property : ${propertyMap}">
						<th scope="row" th:text="${property.key}">Key</th>
						<td th:text="${property.value}">Value</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>