<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<title></title>
</head>
<body style="padding-bottom: 70px; padding-top: 70px;">

	<div class="alert alert-success alert-dismissible" role="alert">Well
		done! You successfully checkout.</div>
	<div class="container">
		<nav class="navbar-default navbar-fixed-top">

			<div class="pull-left" style="margin: 10px">
				<a class="btn btn-default" type="button"
					th:href="@{shoppingcart(AT=${AT})}"> <span
					class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> <span>Back</span>
				</a>
			</div>

			<div class="pull-right" style="margin: 10px">
				<a class="btn btn-primary" type="button" th:href="@{main(AT=${AT})}">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Checkout
				</a>
			</div>
		</nav>
	</div>
</body>
</html>