<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: common_header(~{::title},~{::link})">
</head>
<script type="text/javascript">
	$(document).ready(function() {
		$("#add-item-btn").click(function() {
			var $btn = $(this).button('loading');
			var itemUC = $("#item-UC").val();
			var itemCount = $("#item-count").val();
			var AT = $("#AT").val();
			$.post("addItem", {
				itemUC : itemUC,
				AT : AT,
				itemCount : itemCount
			}, function(resultVar) {
				$("#shoppingcart-count").fadeToggle('fast');
				$("#shoppingcart-count").html(resultVar);
				$("#shoppingcart-count").fadeToggle('fast');
				$btn.button('reset');
			});
		});
	});
</script>
<body style="padding-bottom: 70px; padding-top: 70px;">
	<input id="item-UC" type="hidden" th:value="${product.UNIQUE_CODE}" />
	<input id="AT" type="hidden" th:value="${AT}" />

	<div th:replace="/eggshop/common/fragment :: header-back-shoppingcart"></div>
	<div class="container">
		<div class="row">
			<div class="thumbnail">
				<img th:src="@{'/'+${product.THUMBNAIL_PATH}}" alt="..." />
				<div class="caption">
					<h3>
						<label th:text="${product.NAME}"></label>
					</h3>
					<kbd th:text="'RMB '+${product.PRICE}"></kbd>
					<p th:text="${product.BRIEF}"></p>
					<p th:text="${product.DETAIL_DESCIPTION}"></p>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="/eggshop/common/fragment :: add2cart"></div>
</body>
</html>