<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet" href="/dengshaobing/css/bootstrap.min.css" />
<script src="/dengshaobing/js/jquery-3.1.0.min.js"></script>
<script src="/dengshaobing/js/bootstrap.min.js"></script>

<title></title>
</head>
<body style="padding-bottom: 70px; padding-top: 70px;">
	<div class="container" th:fragment="header">
		<nav class="navbar-default navbar-fixed-top">

			<div class="pull-left" style="margin: 10px">
				<img src="/dengshaobing/img/techlink/bootstrap.ico"
					th:src="${userInfo.HEADIMGURL}" alt="..."
					style="width: 30px; height: 30px" /> <label
					th:text="${userInfo.NICKNAME}"></label>
			</div>
			<div class="pull-right" style="margin: 10px">
				<a class="btn btn-primary" type="button"
					th:href="@{shoppingcart(AT=${AT})}"> <span
					class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
					<span class="badge" th:text="${cartInfo.CART_COUNT}"></span>
				</a>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="panel panel-default media" th:each="recode : ${mapList}">
			<a class="media-left"
				th:href="@{item(rowUC=${recode.UNIQUE_CODE},AT=${AT})}"> <img
				th:src="${recode.THUMBNAIL_PATH}" style="width: 64px; height: 64px"
				alt="..." />
			</a>
			<div class="media-body">
				<h4 class="media-heading" th:text="${recode.NAME}"></h4>
				<p th:text="${recode.BRIEF}"></p>
			</div>
		</div>
	</div>

	<div class="container">
		<a role="button" class="btn btn-block btn-lg btn-outline"
			href="/dengshaobing/">View Our Website</a>
	</div>
</body>
</html>