<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
</head>
<body style="padding-bottom: 70px; padding-top: 70px;">
	<div th:replace="/eggshop/common/fragment :: header-user-shoppingcart"></div>
	<div class="container">
		<div class="panel panel-default media" th:each="record : ${mapList}">
			<a class="media-left"
				th:href="@{item(rowUC=${record.UNIQUE_CODE},AT=${AT})}"> <img
				th:src="@{'/'+${record.THUMBNAIL_PATH}}"
				style="width: 64px; height: 64px" alt="..." />
			</a>
			<div class="media-body">
				<h4 class="media-heading" th:text="${record.NAME}"></h4>
				<p th:text="${record.BRIEF}"></p>
			</div>
		</div>
	</div>
	<div th:replace="/base :: copy-right"></div>
</body>
</html>