<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
</head>
<script type="text/javascript">
	function changeItemQty(cartItemUC, AT, inputItem, itemPrice) {
		var itemCount = $(inputItem).val();
		$.post("changeItemQty", {
			cartItemUC : cartItemUC,
			AT : AT,
			itemCount : itemCount
		}, function(resultVar) {
			var targetRefreshItem = $(inputItem).parent().parent().siblings()
					.last().children().children();
			targetRefreshItem.fadeToggle('fast');
			targetRefreshItem.html(resultVar * itemPrice);
			targetRefreshItem.fadeToggle('fast');
		});
	}
</script>
<body style="padding-bottom: 70px; padding-top: 70px;">
	<div th:replace="/eggshop/common/fragment :: header-back-preorder"></div>
	<div class="container">
		<table class="table table-striped table-condensed">
			<caption th:text="${tableMeta.title}">SHOPPING CART</caption>
			<thead>
				<tr>
					<th th:each="head : ${tableMeta.headList}"
						th:text="${head.columnLabel}" th:if="${head.display}"></th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="record : ${tableMeta.dataList}">

					<td th:each="head : ${tableMeta.headList}" th:if="${head.display}">
						<div
							th:if="${head.uriAttachable and !head.columnLabel.equals('数量')}">
							<a th:text="${record[__${head.index}__]}"
								th:href="@{item(rowUC=${record[2]},AT=${AT})}"></a>
						</div>
						<div
							th:if="${!head.uriAttachable and !head.columnLabel.equals('数量')}">
							<label th:text="${record[__${head.index}__]}"></label>
						</div>
						<div th:if="${head.columnLabel.equals('数量')}">
							<input type="number" th:value="${record[__${head.index}__]}"
								style="width: 80px"
								th:onchange="'changeItemQty(\''+${record[1]}+'\',\''+${AT}+'\',this,\''+${record[4]}+'\');'"></input>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>