<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/dengshaobing/css/bootstrap.min.css" />
<script src="/dengshaobing/js/jquery-3.1.0.min.js"></script>
<script src="/dengshaobing/js/bootstrap.min.js"></script>

<title></title>
</head>
<body>
	<div class="container">
		<form class="form-horizontal" role="form" th:object="${formData}"
			enctype="multipart/form-data">
			<div class="container">
				<input type="hidden" th:field="*{properties[UNIQUE_CODE]}" />
				<div class="form-group">
					<label for="inputName">Name</label> <input type="text"
						th:field="*{properties[NAME]}" class="form-control" id="inputName"
						placeholder="Product Name" />
				</div>
				<div class="form-group">
					<label for="inputPrice">Price</label> <input th:type="number"
						th:field="*{properties[PRICE]}" class="form-control"
						id="inputPrice" placeholder="0.00" />
				</div>
				<div class="form-group">
					<label>Thumbnail</label> <br /> <img
						src="/dengshaobing/img/test/itemmock.png" alt="..."
						style="width: 150px; height: 150px" />
				</div>
				<div class="form-group">
					<input th:type="file" th:field="*{properties[THUMBNAIL]}" />
					<p class="help-block">Select a Thumbnail</p>
				</div>
				<div class="form-group">
					<label for="inputDescription">Description</label>
					<textarea class="form-control" id="inputDescription" rows="5"
						th:field="*{properties[REMARK]}"
						placeholder="Product Description..."></textarea>
				</div>
				<div class="btn-toolbar" role="toolbar">
					<div class="pull-left" style="margin: 10px">
						<a class="btn btn-default" role="button" th:href="@{list}"><span
							class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
							<span>Back</span></a>
					</div>

					<div class="pull-right" style="margin: 10px">
						<button type="submit" class="btn btn-primary"
							th:formaction="@{save(rowUC=${rowUC})}" th:formmethod="post">Submit</button>
						<a class="btn btn-danger" role="button" th:if="${rowUC}!=null"
							th:href="@{delete(rowUC=${rowUC})}">Delete</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>