<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet" href="/dengshaobing/css/bootstrap.min.css" />
<script src="/dengshaobing/js/jquery-3.1.0.min.js"></script>
<script src="/dengshaobing/js/bootstrap.min.js"></script>

<title></title>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#">Sending</a></li>
			<li role="presentation"><a href="#">All</a></li>
		</ul>
		<table class="table table-striped table-condensed">
			<caption th:text="${tableMeta.title}"></caption>
			<thead>
				<tr>
					<th>#</th>
					<th th:each="head : ${tableMeta.headList}"
						th:text="${head.columnLabel}"></th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="recode : ${tableMeta.dataList}">
					<td th:text="${recodeStat.count}" />

					<th th:each="head : ${tableMeta.headList}"
						th:text="${recode[__${head.columnName}__]}"></th>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>