<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#">Sending</a></li>
			<li role="presentation"><a href="#">All</a></li>
		</ul>
		<table class="table table-striped table-condensed">
			<caption th:text="${tableMeta.title}"></caption>
			<thead>
				<tr>
					<th th:each="head : ${tableMeta.headList}"
						th:text="${head.columnLabel}"></th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="recode : ${tableMeta.dataList}">

					<th th:each="head : ${tableMeta.headList}"
						th:text="${recode[__${head.index}__]}"></th>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>